:root {
/* text-Primary */
--Very-dark-desaturated-blue: hsl(238, 29%, 16%);
--Soft-red: hsl(14, 88%, 65%);

/* Background gradient */

--Soft-violet: hsl(273, 75%, 66%);
--Soft-blue: hsl(240, 73%, 65%);

/* text-neutral */
--Very-dark-grayish-blue: hsl(237, 12%, 33%);
--Dark-grayish-blue: hsl(240, 6%, 50%);

/* Dividers */
--Light-grayish-blue: hsl(240, 5%, 91%);

}


body {
font-family: 'Kumbh Sans', sans-serif;
font-size: 12px;
color: var(--Very-dark-grayish-blue);
background-image: linear-gradient(to bottom left, var(--Soft-violet), var(--Soft-blue));
height: 100vh;
/* width: 100%; */
/* overflow: hidden; */
/* display: flex; */
align-items: center;
flex-direction: column;
justify-content: center;
}

#container {
max-width:921px ;
/* width: 100%; */
margin: 0 auto;
/* margin-top: 5vh; */
box-sizing: border-box;
/* background-image: url(./images/bg-pattern-desktop.svg);
background-repeat: no-repeat; */

/* padding: 6rem 0; */
place-content: center;

}

#container::before {
  content: url(./images/illustration-box-desktop.svg);
  background-repeat: no-repeat;
  position: relative;
    top: 405px;
    z-index: 1;
    right: 97px;
    
}



.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* margin-top: 86px;
  margin-bottom: 86px; */
  background-color: white;
  border-radius: 20px;
  /* align-items: center; */
}

.card-img {
  background-image: url(./images/bg-pattern-desktop.svg);
background-repeat: no-repeat;
background-size: 518px;
    background-position: -110px 88px
}

.image {
  position: relative;
  right: 80px;
  top: 100px;
    
}

.questions {
    background-color: white;
    color: var(--Dark-grayish-blue);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    max-width: 352px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--Light-grayish-blue);
  }

  .questions:hover{
    color: var(--Soft-red);
    cursor: pointer;
  }
  
  .active, .accordion:hover {
    background-color: white; 
   color: var(--Very-dark-desaturated-blue);
  }
  
  .answer {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    
  }

  .answer-p {
    width: 45ch;
    display: inline-block;
  }

  

  .card-title {
    font-size: 30px;
    padding: 18px
  }

  .question {
    font-size: ;
  }

  .card-question {
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 1124px) {

    .card {
      grid-template-columns: 1fr;
      justify-content: center;
    justify-items: center;
    }
  }